<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thong tin trang web</title>
</head>
<body>
    <h1>thong tin quan tri vien</h1>
</body>
</html>